.cm-editor {
	background-color: #fff;
}
.cm-editor .cm-lineNumbers .cm-gutterElement {
	text-align: end;
}
.cm-panel .cm-textfield,
.cm-panel .cm-button,
.cm-panels > .cm-search.cm-panel label,
.cm-panels > .cm-gotoLine.cm-panel label {
	font-size: inherit;
}
