#cm-preference > .oo-ui-window-frame {
	height: 100% !important;
}
#cm-preference .oo-ui-panelLayout {
	overflow: visible;
}
#cm-preference .cm-editor {
	border: 1.5px solid #dedede;
	border-radius: .3em;
}
#cm-preference .oo-ui-checkboxMultioptionWidget.oo-ui-widget-disabled {
	display: none;
}
