#cm-preference {
	& > .oo-ui-window-frame {
		height: 100% !important;
	}
	& .oo-ui-panelLayout {
		overflow: visible;
	}
	& .cm-editor {
		border: 1.5px solid #dedede;
		border-radius: .3em;

		& input {
			height: auto;
		}
	}
	& .oo-ui-checkboxMultioptionWidget.oo-ui-widget-disabled {
		display: none;
	}
}

.minerva-icon-portletlink-cm-settings {
	-webkit-mask-image: var(--cm-icon);
	mask-image: var(--cm-icon); /* stylelint-disable-line plugin/use-baseline */
}
