/* src/bidi */
.cm-bidi-isolate,
.cm-editor[dir="rtl"] .cm-mw-template-name {
	unicode-bidi: isolate;
}
.cm-bidi-ltr {
	direction: ltr;
	display: inline-block;
}

/* src/codemirror */
.cm-panels {
	direction: ltr;
}
.cm-editor .cm-lineNumbers .cm-gutterElement {
	text-align: end;
}
.cm-textfield,
.cm-button,
.cm-panel.cm-search label,
.cm-panel.cm-dialog label {
	font-size: inherit;
}
.cm-panel [name="close"] {
	color: inherit;
}
.cm-link > span {
	color: var(--cm-link);
	text-decoration: underline;
}

input[type="color"] {
	pointer-events: none;
}

/* src/fold */
.cm-foldGutter {
	order: 2;
}

.cm-tooltip-fold {
	cursor: pointer;
	line-height: 1.2;
	padding: 0 1px;
	opacity: .6;
	&:hover {
		opacity: 1;
	}
}

@media (prefers-color-scheme: dark) {
	div.cm-tooltip-fold {
		background-color: #4c566a;
	}
}

/* src/hover */
.cm-tooltip-hover {
	max-height: 60vh;
	overflow: hidden auto;
}
.cm-tooltip-hover-mw {
	padding: 2px 5px;
	width: max-content;
	max-width: 60vw;
	& * {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	& > div {
		font-size: 90%;
		line-height: 1.4;
	}
}

.cm-tooltip-hover-mw code {
	color: inherit;
	padding: .1em .4em;
	border-radius: .4em;
}

@media (prefers-color-scheme: light) {
	.cm-tooltip-hover-mw code {
		background-color: #e0e6eb;
	}
}
@media (prefers-color-scheme: dark) {
	.cm-tooltip-hover-mw code {
		background-color: #4c566a;
	}
}

/* src/inlay */
.cm-inlay-hint {
	color: #969696;
	font-style: italic;
	-webkit-user-select: none;
	user-select: none;
}

/* src/mediawiki */
.cm-mw-section--1 {
	&, & ~ * {
		font-size: 1.8em;
		line-height: 1.2em;
	}
}
.cm-mw-section--2 {
	&, & ~ * {
		font-size: 1.5em;
		line-height: 1.2em;
	}
}
.cm-mw-section--3,
.cm-mw-section--4,
.cm-mw-section--5,
.cm-mw-section--6 {
	&, & ~ * {
		font-weight: bold;
	}
}
.cm-mw-section-header,
.cm-mw-template,
.cm-mw-parserfunction,
.cm-mw-file-delimiter,
.cm-mw-magic-link,
.cm-mw-templatevariable,
.cm-mw-link-pagename,
.cm-mw-link-bracket,
.cm-mw-link-delimiter,
.cm-mw-extlink,
.cm-mw-free-extlink,
.cm-mw-exttag-bracket,
.cm-mw-htmltag-bracket,
.cm-mw-exttag-attribute,
.cm-mw-htmltag-attribute,
.cm-mw-table-delimiter2,
.cm-mw-table-definition {
	font-weight: normal;
}
.cm-mw-redirect,
.cm-mw-list,
.cm-mw-free-extlink-protocol,
.cm-mw-strong,
.cm-mw-extlink-protocol,
.cm-mw-extlink-bracket,
.cm-mw-exttag-name,
.cm-mw-htmltag-name,
.cm-mw-table-bracket,
.cm-mw-table-delimiter,
.cm-mw-table-th,
.cm-mw-table-caption,
.cm-mw-convert-bracket,
.cm-mw-convert-delimiter {
	font-weight: bold;
}
.cm-mw-pagename,
.cm-mw-link-tosection,
.cm-mw-magic-link,
.cm-mw-extlink,
.cm-mw-free-extlink,
.cm-mw-extlink-protocol,
.cm-mw-free-extlink-protocol {
	text-decoration: underline;
}
.cm-mw-em {
	font-style: italic;
}
.cm-mw-section-header,
.cm-mw-redirect,
.cm-mw-list,
.cm-mw-apostrophes {
	color: var(--cm-hr);
}
.cm-mw-error {
	color: var(--cm-error);
}
.cm-mw-skipformatting {
	background-color: var(--cm-sp);
}
.cm-mw-double-underscore,
.cm-mw-signature,
.cm-mw-hr {
	color: var(--cm-hr);
	font-weight: bold;
	background-color: var(--cm-hr-bg);
}
.cm-mw-comment,
.cm-mw-ignored {
	color: var(--cm-comment);
	font-weight: normal;
}
.cm-mw-template-name, /* stylelint-disable-line no-descending-specificity */
.cm-mw-template-delimiter,
.cm-mw-template-bracket {
	color: var(--cm-tpl);
	font-weight: bold;
}
.cm-mw-template-argument-name,
.cm-mw-parserfunction-argument-name {
	color: var(--cm-arg);
	font-weight: normal;
}
.cm-mw-templatevariable-name,
.cm-mw-templatevariable-bracket,
.cm-mw-templatevariable-delimiter {
	color: var(--cm-var-name);
	font-weight: bold;
}
.cm-mw-parserfunction-name,
.cm-mw-parserfunction-bracket,
.cm-mw-parserfunction-delimiter {
	color: var(--cm-func);
	font-weight: bold;
}
.cm-mw-link-pagename,
.cm-mw-link-bracket,
.cm-mw-link-delimiter,
.cm-mw-file-delimiter,
.cm-mw-magic-link,
.cm-mw-extlink,
.cm-mw-extlink-protocol,
.cm-mw-extlink-bracket,
.cm-mw-free-extlink,
.cm-mw-free-extlink-protocol {
	color: var(--cm-link);
}
.cm-mw-image-parameter,
.cm-mw-link-tosection {
	color: var(--cm-sect);
	font-weight: normal;
}
.cm-mw-exttag-name,
.cm-mw-htmltag-name,
.cm-mw-exttag-bracket,
.cm-mw-htmltag-bracket,
.cm-mw-exttag-attribute,
.cm-mw-htmltag-attribute {
	color: var(--cm-tag);
}
.cm-mw-exttag-attribute-value,
.cm-mw-htmltag-attribute-value {
	color: var(--cm-attr);
	font-weight: normal;
}
.cm-mw-table-bracket,
.cm-mw-table-delimiter,
.cm-mw-table-delimiter2,
.cm-mw-table-definition {
	color: var(--cm-table);
}
.cm-mw-table-definition-value {
	color: var(--cm-table-attr);
	font-weight: normal;
}
.cm-mw-convert-bracket,
.cm-mw-convert-delimiter,
.cm-mw-convert-flag,
.cm-mw-convert-lang {
	color: var(--cm-convert);
}
.cm-mw-entity {
	color: var(--cm-entity);
}
.cm-mw-exttag,
.cm-mw-tag-score-scheme {
	background-color: rgb(119, 0, 170, .04);
}
.cm-mw-template-ground {
	background-color: rgb(170, 17, 17, .04);
}
.cm-mw-template2-ground {
	background-color: rgb(170, 17, 17, .08);
}
.cm-mw-template3-ground {
	background-color: rgb(170, 17, 17, .12);
}
.cm-mw-template-ext-ground,
.cm-mw-ext-ground {
	background-color: rgb(119, 0, 170, .04);
}
.cm-mw-template-ext2-ground,
.cm-mw-ext2-ground {
	background-color: rgb(119, 0, 170, .08);
}
.cm-mw-template-ext3-ground,
.cm-mw-ext3-ground {
	background-color: rgb(119, 0, 170, .12);
}
.cm-mw-template-link-ground,
.cm-mw-ext-link-ground,
.cm-mw-link-ground {
	background-color: rgb(34, 17, 153, .04);
}
.cm-mw-template-ext-link-ground,
.cm-mw-ext2-link-ground {
	background-color: rgb(77, 9, 162, .08);
}
.cm-mw-template-ext2-link-ground,
.cm-mw-ext3-link-ground {
	background-color: rgb(91, 6, 164, .12);
}
.cm-mw-template-ext3-link-ground {
	background-color: rgb(98, 4, 166, .16);
}
.cm-mw-template2-ext-ground {
	background-color: rgb(145, 9, 94, .08);
}
.cm-mw-template2-ext2-ground {
	background-color: rgb(136, 6, 119, .12);
}
.cm-mw-template2-ext3-ground {
	background-color: rgb(132, 4, 132, .16);
}
.cm-mw-template2-link-ground {
	background-color: rgb(102, 17, 85, .08);
}
.cm-mw-template2-ext-link-ground {
	background-color: rgb(108, 11, 113, .12);
}
.cm-mw-template2-ext2-link-ground {
	background-color: rgb(111, 9, 128, .16);
}
.cm-mw-template2-ext3-link-ground {
	background-color: rgb(112, 7, 136, .2);
}
.cm-mw-template3-ext-ground {
	background-color: rgb(153, 11, 68, .12);
}
.cm-mw-template3-ext2-ground {
	background-color: rgb(145, 9, 94, .16);
}
.cm-mw-template3-ext3-ground {
	background-color: rgb(139, 7, 109, .2);
}
.cm-mw-template3-link-ground {
	background-color: rgb(125, 17, 62, .12);
}
.cm-mw-template3-ext-link-ground {
	background-color: rgb(123, 13, 89, .16);
}
.cm-mw-template3-ext2-link-ground {
	background-color: rgb(122, 10, 105, .2);
}
.cm-mw-template3-ext3-link-ground {
	background-color: rgb(122, 9, 116, .24);
}
.cm-mw-tag-pre,
.cm-mw-tag-nowiki {
	background-color: rgb(0, 0, 0, .04);
}
.cm-mw-tag-ref {
	background-color: var(--cm-ref);
}
.cm-completionIcon-redirect::after {
	content: "↳";
}

/* src/openLinks */
/* stylelint-disable relative-selector-nesting-notation */
.cm-editor.cm-open-links {
	.cm-mw-extlink-protocol:hover,
	.cm-mw-extlink:hover,
	.cm-mw-free-extlink-protocol:hover,
	.cm-mw-free-extlink:hover,
	.cm-mw-magic-link:hover,
	.cm-mw-template-name:hover,
	.cm-mw-link-pagename:hover,
	.cm-mw-parserfunction.cm-mw-pagename:hover,
	.cm-mw-exttag-attribute-value.cm-mw-pagename:hover,
	.cm-mw-file-text.cm-mw-pagename:hover {
		cursor: pointer;
		color: var(--cm-active);
	}
	:is(
		/* stylelint-disable plugin/use-baseline */
		.cm-mw-extlink-protocol:hover + .cm-mw-extlink,
		.cm-mw-extlink-protocol:has(+ .cm-mw-extlink:hover),
		.cm-mw-free-extlink-protocol:hover + .cm-mw-free-extlink,
		.cm-mw-free-extlink-protocol:has(+ .cm-mw-free-extlink:hover)
		/* stylelint-enable plugin/use-baseline */
	) {
		color: var(--cm-active);
	}

	.cm-link:hover {
		cursor: pointer;
		color: var(--cm-active);
	}
}
/* stylelint-enable relative-selector-nesting-notation */

/* src/ref */
.cm-tooltip-ref {
	padding: 2px 5px;
	width: max-content;
	max-width: 60vw;
	cursor: pointer;
	white-space: pre-wrap;
}
.cm-tooltip-no-def {
	color: var(--cm-comment);
}

/* src/statusBar */
.cm-panel-status {
	line-height: 1.4;
	& > div {
		padding: 0 .3em;
		display: table-cell;
	}
}
.cm-status-worker {
	-webkit-user-select: none;
	user-select: none;
	--fix-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M8 19a1 1 0 001 1h2a1 1 0 001-1v-1H8zm9-12a7 7 0 10-12 4.9S7 14 7 15v1a1 1 0 001 1h4a1 1 0 001-1v-1c0-1 2-3.1 2-3.1A7 7 0 0017 7"/></svg>');
	& > * {
		display: table-cell;
		white-space: nowrap;
		& > div {
			display: inline-block;
			vertical-align: middle;
			&:first-child {
				margin-right: 4px;
				width: 1em;
				height: 1em;
			}
		}
	}
}
.cm-status-error,
.cm-status-warning {
	padding-right: 8px;
}
.cm-status-worker-enabled {
	& .cm-status-error,
	& .cm-status-warning {
		cursor: pointer;
	}
}
.cm-status-fix-disabled,
.cm-status-fix-enabled {
	/* stylelint-disable plugin/use-baseline */
	-webkit-mask-image: var(--fix-icon);
	mask-image: var(--fix-icon);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	/* stylelint-enable plugin/use-baseline */
}
.cm-status-fix-disabled {
	background-color: #dadde3;
}
.cm-status-fix-enabled {
	background-color: #ffce31;
	cursor: pointer;
}
.cm-status-fix-menu {
	display: none;
	position: absolute;
	z-index: 301;
	border: 1px solid #ddd;
	border-radius: 2px;
	outline: none;
	white-space: nowrap;
	& > div {
		padding: 1px 5px;
		cursor: pointer;
	}
}
.cm-status-message {
	border-style: solid;
	border-width: 0 1px;
	width: 100%;
	& .cm-diagnosticAction {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.cm-status-line {
	cursor: pointer;
	white-space: nowrap;
}
.cm-diagnosticText-clickable {
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
	.cm-status-fix-menu {
		background-color: #f5f5f5;
		box-shadow: 0 2px 2px 0 rgb(0, 0, 0, .25);
	}
	.cm-status-fix-menu > div:hover {
		background-color: #e2f2ff;
	}
	.cm-status-message {
		border-color: #c8ccd1;
	}
}
@media (prefers-color-scheme: dark) {
	.cm-status-fix-menu {
		background-color: #252a33;
	}
	.cm-status-fix-menu > div:hover {
		background-color: #4c566a;
	}
	.cm-status-message {
		border-color: #000;
	}
}

/* src/theme */
@media (prefers-color-scheme: light) {
	.cm-editor {
		background-color: #fff;
		--cm-arg: #b0c;
		--cm-attr: #179b1c;
		--cm-comment: #7b8c8f;
		--cm-convert: #b68;
		--cm-entity: #00a1a1;
		--cm-error: #d73333;
		--cm-func: #a11;
		--cm-hr: #0076dd;
		--cm-hr-bg: rgb(0, 0, 0, .07);
		--cm-link: #000aaa;
		--cm-sect: #006fe6;
		--cm-sp: rgb(134, 206, 255, .3);
		--cm-table: #d08;
		--cm-table-attr: #f500d4;
		--cm-tag: #14866d;
		--cm-tpl: #80c;
		--cm-var-name: #ac6600;
		--cm-ref: rgb(223, 242, 235, .5);
		--cm-active: #05f;
	}
	.cm-globals {
		&, & > * {
			color: #256;
		}
	}
	.cm-doctag > * {
		color: #219;
	}
	.cm-doctag-type > * {
		color: #085;
	}
	.cm-doctag-var > * {
		color: #00f;
	}
	.cm-editor.cm-focused .cm-matchingTag {
		background-color: rgb(50, 140, 130, .32);
	}
	.cm-editor.cm-focused .cm-nonmatchingTag {
		background-color: rgb(187, 85, 85, .27);
	}
}
@media (prefers-color-scheme: dark) {
	.cm-editor {
		--cm-arg: #9f78a5;
		--cm-attr: #97b757;
		--cm-comment: #4c566a;
		--cm-convert: #b68;
		--cm-entity: #00a1a1;
		--cm-error: #bf616a;
		--cm-func: #bf616a;
		--cm-hr: #5e81ac;
		--cm-hr-bg: rgb(59, 66, 82, .5);
		--cm-link: #5e81ac;
		--cm-sect: #81a1c1;
		--cm-sp: rgb(136, 192, 208, .5);
		--cm-table: #b48ead;
		--cm-table-attr: #9f78a5;
		--cm-tag: #a3be8c;
		--cm-tpl: #9f78a5;
		--cm-var-name: #d08770;
		--cm-ref: rgb(60, 90, 80, .5);
		--cm-active: #b6d4fb;
	}
	.cm-globals {
		&, & > * {
			color: #d08770;
		}
	}
	.cm-doctag > * {
		color: #81a1c1;
	}
	.cm-doctag-type > * {
		color: #ebcb8b;
	}
	.cm-doctag-var > * {
		color: #8fbcbb;
	}
	div.cm-activeLine {
		background-color: rgb(76, 86, 106, .27);
	}
	.cm-editor.cm-focused .cm-matchingTag {
		background-color: #eceff4;
		color: #434c5e;
	}
	.cm-editor.cm-focused .cm-nonmatchingTag {
		background-color: rgb(235, 203, 139, .32);
	}
	.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer div.cm-selectionBackground,
	.cm-diagnosticAction {
		background-color: #4c566a;
	}
	div.cm-panels {
		color: #d8dee9;
	}
	.cm-editor.cm-focused .cm-searchMatch.cm-searchMatch-selected {
		color: #b48ead;
	}
	div.cm-tooltip-autocomplete ul li[aria-selected] {
		color: inherit;
	}
	div.cm-gutters {
		color: #5e81ac;
	}
}
