.wikiEditor-ui-toolbar {
	z-index: 7;
}

/* stylelint-disable relative-selector-nesting-notation */
.codemirror-readonly {
	.group-format,
	.group-insert,
	.tabs,
	.sections {
		display: none;
	}
}
.codemirror-wiki .group-codemirror {
	display: none;
}
.codemirror-coding {
	.group-codemirror,
	.group-default,
	.group-format,
	.group-insert,
	.tabs,
	.sections {
		display: none;
	}
}
.codeEditor-ui-toolbar {
	.group-codemirror6,
	.group-codemirror6-search {
		display: none;
	}
}
