.wikiEditor-ui-toolbar {
	z-index: 7;
}

/* stylelint-disable relative-selector-nesting-notation */
.codemirror-readonly {
	.group-format,
	.group-insert,
	.tabs,
	.sections {
		display: none;
	}
}
.codemirror-wiki .group-codemirror {
	display: none;
}
.codemirror-coding {
	.group-codemirror,
	.group-default,
	.group-format,
	.group-insert,
	.tabs,
	.sections {
		display: none;
	}
}
.codeEditor-ui-toolbar {
	.group-codemirror6,
	.group-codemirror6-search {
		display: none;
	}
}

.oo-ui-icon-sortAscending {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 485 511.82%22%3E%3Cpath d=%22M276.55 208.92v-29.43l14.65-2.14L353.48 0h54.5l62.41 177.35 14.61 2.14v29.43h-78.04v-29.43l13.67-2.56-6.32-22.64h-67.15l-6.02 22.64 13.62 2.56v29.43zm-102.78-84.45H132.3v380.26c0 3.54-3.5 7.09-7.09 7.09H64.3c-3.64 0-7.18-3.17-7.18-7.09V124.47H15.69c-3.64 0-7.31-1.24-10.26-3.84-6.57-5.68-7.26-15.64-1.62-22.17L84.93 5.38c6.45-7.13 17.68-7.22 23.96.3l76.55 92.48c2.56 2.82 4.05 6.58 4.05 10.59 0 8.76-7 15.72-15.72 15.72m184.02-5.51h45.75L383.17 55.7l-2.31-7.3h-.85l-2.44 8.03zm-57.02 392.69v-31.44l97.69-138.91h-52.71l-3.72 26.56h-37.72l2.7-65.14h154.71v30.33L363.73 473.2h62.66l4.02-24.82h37.63l-4.14 63.27z%22/%3E%3C/svg%3E");
}
.oo-ui-icon-sortDescending {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 485 511.6%22%3E%3Cpath d=%22M300.83 208.85v-31.43l97.66-138.86H345.8l-3.72 26.56h-37.7L307.07 0h154.66v30.32l-97.96 140.1h62.65l4.01-24.81h37.62l-4.14 63.24zM173.71 387.21h-41.46V7.09c0-3.55-3.5-7.09-7.09-7.09H64.27c-3.63 0-7.17 3.16-7.17 7.09v380.12H15.68c-3.63 0-7.3 1.23-10.25 3.84-6.57 5.68-7.26 15.63-1.62 22.16l81.09 93.04c6.45 7.14 17.68 7.22 23.95-.29l76.52-92.45c2.56-2.82 4.06-6.58 4.06-10.59 0-8.75-7-15.71-15.72-15.71m102.91 124.25v-29.42l14.65-2.13 62.26-177.29h54.48l62.39 177.29 14.6 2.13v29.42h-78.01v-29.42l13.66-2.56-6.32-22.63h-67.12l-6.02 22.63 13.62 2.56v29.42zm81.22-89.92h45.73L383.2 358.3l-2.3-7.3h-.86l-2.43 8.02z%22/%3E%3C/svg%3E");
}
