html, body, div, span, label, article, main, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
:root {
	font-size: 14px;
	font-family: sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0;
	line-height: 1.6;
}
main {
	display: flex;
	width: 90vw;
	max-width: 1200px;
	margin: 3rem 0;
	background-color: #fff;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
}
article {
	display: block;
	width: 100%;
	padding: 1rem 2rem 2rem;
}
h2 {
	font-size: 1.3em;
	margin: .5rem 0;
	font-weight: bold;
}
.fieldLayout {
	display: table;
	padding: .1em 0;
}
.field, .header {
	display: table-cell;
	vertical-align: middle;
}
.field, .header, input, input + span, label {
	cursor: pointer;
}
.field {
	position: relative;
}
input[type="text"] {
	box-shadow: inset 0 0 0 1px transparent;
	background-color: #fff;
	margin: 0;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 1px 2px;
	font: inherit;
	width: 6ch;
}
input[type="checkbox"], input[type="radio"] {
	position: relative;
	z-index: 1;
	opacity: 0;
}
input + span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	background-color: #fff;
	border: 1px solid #72777d;
	box-sizing: border-box;
}
input[type="checkbox"] + span {
	border-radius: 2px;
}
input[type="radio"] + span {
	border-radius: 50%;
}
input:checked + span {
	border-color: #36c;
}
input[type="checkbox"]:checked + span {
	background-color: #36c;
	background-size: calc(1.3em - 2px) calc(1.3em - 2px);
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Cg fill=%22%23fff%22%3E%3Ctitle xmlns:default=%22http://www.w3.org/2000/svg%22%3Echeck%3C/title%3E%3Cpath xmlns:default=%22http://www.w3.org/2000/svg%22 d=%22M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42L7 14.17z%22/%3E%3C/g%3E%3C/svg%3E");
}
input[type="radio"]:checked + span {
	border-width: 6px;
}
input[type="text"]:hover {
	border-color: #72777d;
}
input[type="checkbox"]:hover + span, input[type="radio"]:hover + span {
	border-color: #447ff5;
}
input[type="text"]:focus, input[type="checkbox"]:focus + span {
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
	outline: none;
}
input[type="checkbox"]:active + span, input[type="radio"]:active + span {
	background-color: #2a4b8d;
	border-color: #2a4b8d;
}
label {
	padding: 0 .7em;
	display: inline-block;
}
textarea {
	width: 100%;
	max-height: 100vh;
	direction: ltr;
	padding: .4em;
}
textarea, .cm-editor {
	border-radius: .3em;
	border: 1.5px solid #dedede;
	margin-top: .5em;
}

@media screen and (max-width: 720px) {
	main {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	article {
		padding: 1rem;
	}
	.cm-editor {
		font-size: 16px;
	}
}
