#compare h2 {
	font-size: 1.3em;
	margin: .5rem 0;
	font-weight: bold;
}
textarea {
	margin: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	width: 100%;
	max-height: 100vh;
	direction: ltr;
	padding: .4em;
}
textarea, .cm-editor {
	border-radius: .3em;
	border: 1.5px solid #dedede;
	margin-top: .5em;
}
.cm-editor {
	height: auto !important;
}

@media screen and (min-width: 1200px) {
	#compare {
		column-count: 2;
		column-gap: 1rem;
	}
	#compare > div {
		display: inline-block;
		width: 100%;
	}
}
@media screen and (max-width: 720px) {
	.cm-content {
		font-size: 16px;
	}
}
